# Config for clang-format version 16

# Standard
BasedOnStyle: llvm
Standard: c++20

# Indentation
IndentWidth: 2
ColumnLimit: 160

# Includes
SortIncludes: CaseSensitive
SortUsingDeclarations: true

# Pointer and reference alignment
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: true

# Line breaking options
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: Empty
IndentCaseLabels: true
NamespaceIndentation: Inner
