--allman false
--indent 2
--exclude Pods,Generated

--disable andOperator
--disable redundantReturn
--disable wrapMultilineStatementBraces
--disable organizeDeclarations

--enable markTypes

--enable isEmpty
