name: Validate C++

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/validate-cpp.yml'
      - 'cpp/**'
      - 'android/src/main/cpp/**'
  pull_request:
    paths:
      - '.github/workflows/validate-cpp.yml'
      - 'cpp/**'
      - 'android/src/main/cpp/**'

jobs:
  lint:
    name: cpplint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: reviewdog/action-cpplint@master
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          flags: --linelength=230 --exclude "android/src/main/cpp/reanimated-headers"
          targets: --recursive cpp android/src/main/cpp
          filter: "-legal/copyright\
            ,-readability/todo\
            ,-build/namespaces\
            ,-whitespace/comments\
            ,-build/include_order\
            ,-build/c++11\
            "
